In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("adult.data.csv")

In [3]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [16]:
c=df.groupby('salary')

In [14]:
edu.max()dd

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
education,,,,,,,,,,,,,,
10th,90,State-gov,766115,6,Widowed,Transport-moving,Wife,White,Male,99999,3770,99,Yugoslavia,>50K
11th,90,State-gov,806316,7,Widowed,Transport-moving,Wife,White,Male,14344,2824,99,Vietnam,>50K
12th,79,State-gov,917220,8,Widowed,Transport-moving,Wife,White,Male,18481,2258,99,Vietnam,>50K
1st-4th,90,State-gov,795830,2,Widowed,Transport-moving,Wife,White,Male,7688,2603,96,Vietnam,>50K
5th-6th,84,State-gov,684015,3,Widowed,Transport-moving,Wife,White,Male,7298,2603,84,Vietnam,>50K
7th-8th,90,Without-pay,750972,4,Widowed,Transport-moving,Wife,White,Male,10566,3900,99,Yugoslavia,>50K
9th,90,State-gov,758700,5,Widowed,Transport-moving,Wife,White,Male,99999,2231,99,Yugoslavia,>50K
Assoc-acdm,90,Without-pay,1455435,12,Widowed,Transport-moving,Wife,White,Male,99999,2824,99,Yugoslavia,>50K
Assoc-voc,84,State-gov,1366120,11,Widowed,Transport-moving,Wife,White,Male,99999,2603,99,Yugoslavia,>50K
Bachelors,90,State-gov,1226583,13,Widowed,Transport-moving,Wife,White,Male,99999,2824,99,Yugoslavia,>50K
Doctorate,80,State-gov,606111,16,Widowed,Transport-moving,Wife,White,Male,99999,3683,99,Vietnam,>50K
HS-grad,90,Without-pay,1268339,9,Widowed,Transport-moving,Wife,White,Male,99999,4356,99,Yugoslavia,>50K
Masters,90,State-gov,704108,14,Widowed,Transport-moving,Wife,White,Male,99999,2824,99,United-States,>50K
Preschool,75,State-gov,572751,1,Widowed,Prof-specialty,Wife,White,Male,41310,1719,75,United-States,<=50K
Prof-school,90,State-gov,747719,15,Widowed,Transport-moving,Wife,White,Male,99999,2824,99,Vietnam,>50K
Some-college,90,Without-pay,1484705,10,Widowed,Transport-moving,Wife,White,Male,99999,4356,99,Yugoslavia,>50K

In [30]:
c.max()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
salary,,,,,,,,,,,,,,
<=50K,90,Without-pay,1484705,Some-college,16,Widowed,Transport-moving,Wife,White,Male,41310,4356,99,Yugoslavia
>50K,90,State-gov,1226583,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,3683,99,Yugoslavia